<strong>Olá,{{ user }}</strong>
<p>Houve uma inscrição em uma meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Meetup:</strong>{{ meetup }}<br />
  <strong>Data/Hora:</strong>{{ date }}<br />
  <br />
</p>
